#chessboard {
   width: 801px;
   height: 801px;
   display: flex;
   flex-wrap: wrap;
   /* background-color: black; */
}

#chessboard .tile {
   width: 100px;
   height: 100px;
   display: grid;
   place-content: center;
}

#chessboard .chess-piece-image {
   width: 80px;
}

#chessboard .black-tile {
   background-color: #769655;
}

#chessboard .white-tile {
   background-color: #EEEED2;
}